<div class="container">
    <div class="panel panel-default">
        <div class="panel-body">
            <div class="row">
                <div class="col-xs-12 col-sm-9">
                    <div class="btn-group">
                        <button ng-class="{'active': feedbackCtrl.selectedType === ''}" ng-click="feedbackCtrl.changeSelectedType('')" class="btn btn-primary">ALL</button>
                        <button ng-class="{'active': feedbackCtrl.selectedType === type}" ng-click="feedbackCtrl.changeSelectedType(type)" type="button" class="btn btn-primary" ng-repeat="type in feedbackCtrl.feedbackTypes" >{{type}}</button>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-3">
                    <select class="form-control" ng-model="feedbackCtrl.selectedStatus" ng-options="option for option in feedbackCtrl.feedbackStatuses"></select>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default panel-{{feedbackCtrl.type(feedback.feedbackType)}}" ng-repeat="feedback in feedbackCtrl.feedbacks | filter: feedbackCtrl.selectedStatus | filter: feedbackCtrl.selectedType as filtered">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-6">
                    {{feedback.feedbackType}}
                </div>
                <div class="col-xs-6 text-right">
                    <div class="label label-{{feedbackCtrl.status(feedback.status)}}">
                        {{feedback.status}}
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <p>{{feedback.content | limitTo: 200}}{{feedback.content.length > 200 ? '...' : ''}}</p>
            <p><strong>{{feedback.customer.name}}</strong></p>
            <p><strong>{{feedback.date_added | date: 'MM/dd/yyyy - HH:mm'}}</strong></p>
        </div>
        <div class="panel-footer">
            <div class="text-right"><a ng-href="#/feedback/{{feedback._id}}" class="btn btn-primary">View feedback</a></div>
        </div>
    </div>
    <div ng-show="filtered.length === 0">
        {{filtered.length}} results found
    </div>
</div>