<div class="container">
  {{editFeedbackCtrl.types}}
  {{editFeedbackCtrl.statuses}}

  <form name="editForm" ng-submit="editFeedbackCtrl.handleSubmit()">
    <div class="form-group">
      <label>Name</label>
      <input ng-model="editFeedbackCtrl.formData.customer.name" type="text" name="name" class="form-control" placeholder="">
    </div>

    <div class="form-group">
      <label>Phone</label>
      <input ng-model="editFeedbackCtrl.formData.customer.phone" type="text" name="phone" class="form-control" placeholder="">
    </div>

    <div class="form-inline">
      <div class="form-group">
        <label>E-mail</lab  el>
        <input ng-model="editFeedbackCtrl.formData.customer.email" type="email" name="email" class="form-control" placeholder="">
      </div>

      <div class="form-group form-inline">
        <label>Status</label>
        <div class="radio" ng-repeat="status in editFeedbackCtrl.statuses">
          <label><input ng-model="editFeedbackCtrl.formData.status" type="radio" name="status" ng-value="status">{{status}}</label>
        </div>
      </div>

      <div class="form-group form-inline">
        <label>Feedback Type</label>
        <div class="radio" ng-repeat="type in editFeedbackCtrl.types">
          <label><input ng-model="editFeedbackCtrl.formData.feedbackType" type="radio" name="type" ng-value="type">{{type}}</label>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label>Content</label>
      <textarea ng-model="editFeedbackCtrl.formData.content" class="form-control" name="content" rows="3"></textarea>
    </div>

    <button type="button" class="btn btn-primary btn-lg pull-right" ng-click="editFeedbackCtrl.handleSubmitClick()">Submit</button>
  </form>
</div>
