<div class="container">
    {{feedEditCtrl.formData}}}

    <form name="edit_feed" ng-submit="">
        <div class="form-group">
            <label>Name</label>
            <input type="text" name="name" ng-model="feedEditCtrl.formData.customer.name" class="form-control" placeholder="">
        </div>

        <div class="form-group">
            <label>Phone</label>
            <input type="text" name="phone" class="form-control" placeholder="">
        </div>

        <div class="form-inline">
            <div class="form-group">
                <label>E-mail</label>
                    <input type="email" name="email" class="form-control" placeholder="">
            </div>

            <div class="form-group form-inline">
                <label>Status</label>
                <div class="radio" ng-repeat="s in feedEditCtrl.statuses">
                    <label><input  ng-model="feedEditCtrl.formData.status" type="radio" name="status" value="{{s}}">{{s}}</label>
                </div>
            </div>

            <div class="form-group form-inline">
                <label>Feedback Type</label>
                <div class="radio" >
                    <label><input ng-model="editFeedbackCtrl.formData.feedbackType" type="radio" name="type"></label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label>Content</label>
            <textarea class="form-control" name="content" rows="3"></textarea>
        </div>

        <button type="button" class="btn btn-primary btn-lg pull-right" >Submit</button>
    </form>
</div>