<div class="container">
  <h3>Feedbacks</h3>

<div class="container">
  <ul ng-show="feedbackCtrl.feedbacks.length > 0">
    <li ng-repeat="item in feedbackCtrl.feedbacks">
      <div>
        {{item.customer.name}}<br>
        {{item.date_added | date}}<br>
        {{item.status}}<br>
        {{item.feedbackType}}<br>
        {{item.content}}<br>
      </div>
      <a class="btn btn-primary" ng-href="#/feedback/edit/{{item._id}}">EDIT</a>
      <button type="button" class="btn btn-danger" name="Delete" ng-click="feedbackCtrl.handleDeleteClick(item._id)">DELETE</button>
    </li>
  </ul>
</div>

</div>
